.btn {
  @include button;
  @include ripple;

  & + & {
    margin-left: 1.7rem;
  }

  &:disabled {
    border-color: lighten($semi-gray, 20%);
    color: lighten($semi-gray, 10%);
    cursor: not-allowed;
    box-shadow: none;
  }
}

.btn-bold {
  font-weight: 700;
}

.btn-rounded {
  @include size(4rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-radius: $br;
  letter-spacing: normal;

  &:active, &:focus {
    border-radius: $br !important;
    outline: none !important;
    box-shadow: 0 0 .2rem rgba($dark-gray, .12), 0 -.2rem .2rem rgba($dark-gray, .2);
  }

  & + & {
    margin-left: .8rem;

    @include mq(tablet) {
      margin-left: 1.7rem;
    }
  }
}

.btn-green {
  @include button-bg($green);
}

.btn-green-outlined {
  @include button-outlined($green);
}

.btn-orange-outlined {
  @include button-outlined($orange);
}

.btn-orange-link {
  @include button-colored-link($orange);
}

.go-back {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  padding-left: 1.5rem;
  border: none;
  border-bottom: .1rem solid $dark-gray;
  text-decoration: none;
  color: $dark-gray;
  font-size: 1.8rem;
  line-height: 1.25;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s;

  &:hover {
    border-bottom-color: transparent;
    outline: .3rem solid transparent;
    color: $dark-gray;
    background-color: $semi-gray;
    box-shadow: 0 -.2rem $semi-gray, 0 .4rem $dark-gray;
    text-decoration: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-color: transparent;
    border-width: .5rem .6rem .5rem 0;
    border-right-color: inherit;
    transform: translateY(-50%);
  }
}

.btn-link {
  position: relative;
  display: inline-block;
  border: none;
  text-decoration: underline;
  color: $link-color;
  font-size: 2rem;
  line-height: 1.65;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    color: $dark-gray;
    text-decoration: none;
  }
}
