.btn {
  @include button;
  @include ripple;

  &:active, &:focus {
    margin-top: 1.9rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }

  & + & {
    margin-left: 1.7rem;

    &:active, &:focus {
      margin-right: 0;
      margin-left: 1.9rem;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-bold {
  font-weight: 700;
}

.btn.btn-rounded {
  width: 4rem;
  height: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-radius: 50%;
  line-height: 3.6rem;
  text-align: center;

  &:active, &:focus {
    margin: 1.7rem 0;
    border-width: .2rem;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 -2px 2px rgba(0, 0, 0, .2);
  }

  & + & {
    margin-left: .8rem;

    @include mq(tablet) {
      margin-left: 1.7rem;
    }
  }
}

.btn-green {
  @include button-bg($green);
}

.btn-green-outlined {
  @include button-outlined($green);
}

.btn-orange-outlined {
  @include button-outlined($orange);
}

.btn-orange-link {
  @include button-colored-link($orange);
}

.go-back {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  padding-left: 1.5rem;
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;
  color: #0b0c0c;
  font-size: 1.8rem;
  line-height: 1.25;

  &:focus {
    border-bottom-color: transparent;
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #bbb;
    box-shadow: 0 -2px #bbb, 0 4px #0b0c0c;
    text-decoration: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-color: transparent;
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    transform: translateY(-50%);
  }
}

//
//.btn-blue {
//  @include button-bg(#3498db);
//}
//
//.btn-yellow {
//  @include button-bg(#f1c40f);
//}
//
//.btn-red {
//  @include button-bg(#e74c3c);
//}
