.btn {
  @include button;
  @include ripple;

  & + & {
    margin-left: 1.7rem;
  }

  &:disabled {
    border-color: lighten($semi-gray, 20%);
    color: lighten($semi-gray, 10%);
    cursor: not-allowed;
    box-shadow: none;
  }
}

.btn-bold {
  font-weight: 700;
}

.btn-rounded {
  width: 4rem;
  height: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-radius: $br;
  line-height: 3.6rem;
  text-align: center;

  &:active, &:focus {
    border-radius: $br !important;
    outline: none !important;
    box-shadow: 0 0 2px rgba($dark-gray, .12), 0 -2px 2px rgba($dark-gray, .2);
  }

  & + & {
    margin-left: .8rem;

    @include mq(tablet) {
      margin-left: 1.7rem;
    }
  }
}

.btn-green {
  @include button-bg($green);
}

.btn-green-outlined {
  @include button-outlined($green);
}

.btn-orange-outlined {
  @include button-outlined($orange);
}

.btn-orange-link {
  @include button-colored-link($orange);
}

.go-back {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  padding-left: 1.5rem;
  border: none;
  border-bottom: 1px solid $dark-gray;
  text-decoration: none;
  color: $dark-gray;
  font-size: 1.8rem;
  line-height: 1.25;
  background-color: transparent;
  transition: all .3s;

  &:focus {
    border-bottom-color: transparent;
    outline: 3px solid transparent;
    color: $dark-gray;
    background-color: $semi-gray;
    box-shadow: 0 -2px $semi-gray, 0 4px $dark-gray;
    text-decoration: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-color: transparent;
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    transform: translateY(-50%);
  }
}

.btn-link {
  position: relative;
  display: inline-block;
  border: none;
  text-decoration: underline;
  color: $link-color;
  font-size: 2rem;
  line-height: 1.25;
  background-color: transparent;
  transition: all .3s;

  &:focus {
    outline: none;
    color: $dark-gray;
    text-decoration: none;
  }
}

//
//.btn-blue {
//  @include button-bg(#3498db);
//}
//
//.btn-yellow {
//  @include button-bg(#f1c40f);
//}
//
//.btn-red {
//  @include button-bg(#e74c3c);
//}
