.card-title {
  margin-top: 30vh;
  color: $orange;
}

.card-hint {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  color: lighten($link-color, 5%);
  font-size: 1.5rem;
  animation: pulse .6s 2;

  @include mq(tablet) {
    top: 2rem;
    font-size: 2rem;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.2rem;
  margin: -2.6rem -2rem 0 -2rem;
  padding: 1rem .5rem;
  overflow: hidden;
  background-color: rgba($blue, .8);

  @include mq(tablet) {
    margin: 0;
    border-radius: 1rem;
  }

  h2 {
    @include text-shadow;
    width: calc(100% - 5rem);
    margin: 0;
    color: $white;
    line-height: 1;
    text-align: left;
    letter-spacing: .1rem;

    @include mq(tablet-wide, max) {
      @include truncateMultiLine();
      height: 6.8rem;
      font-size: 2.5rem;
      line-height: normal;
    }

    &::after {
      display: none;
    }
  }
}

.card-body {
  position: relative;
  padding: 2rem 0;

  &:before {
    @include pseudo;
    top: -11.6rem;
    left: -2rem;
    right: -2rem;
    height: 2.4rem;
    background-color: rgba($blue, .8);
  }

  @include mq(tablet) {
    position: static;

    &:before {
      display: none;
    }
  }

  li {
    margin: 1rem -2rem;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    line-height: 1.55;
    letter-spacing: .03rem;

    @include mq(tablet) {
      margin: 0;
      padding: 3rem 1rem;
    }

    &:nth-child(even) {
      text-shadow: .1rem .1rem $white;
      background-color: rgba($light-blue, .3);
    }
  }
}
