.card-title {
  margin-top: 30vh;
  color: orangered;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.2rem;
  padding: 1rem .5rem;
  overflow: hidden;
  background-color: #03a9f4;

  @include mq(tablet) {
    border-radius: 1.4rem;
    background-color: rgba(black, .2);
  }

  h2 {
    width: calc(100% - 5rem);
    margin: 0;
    line-height: 1;
    text-align: left;

    @include mq(tablet-wide, max) {
      @include truncateMultiLine();
      height: 6.8rem;
      color: white;
      font-size: 2.5rem;
      line-height: normal;
    }
  }
}

.card-body {
  padding: 2rem 0;

  li {
    padding: 1.2rem 1rem;
    font-size: 2rem;
    line-height: 1.5;

    &:nth-child(even) {
      background-color: rgba(#B3E5FC, .3);

      @include mq(tablet) {
        background-color: rgba(black, .1);
      }
    }
  }
}
