@import "../abstracts/_variables";
@import "../abstracts/_mixins";

body[data-theme='dark'] {
  --body-color: #{$white};
  --title-color: #{$white};
  --content-bg: #{$dark-gray};
  --mobile-nav-bg: #{$dark-gray};
  --nav-bg: #{$dark-gray};
  --nav-link-color: #{$white};
  --nav-link-active-color: #{$white};
  --nav-link-hover-color: #{$white};
  --menu-toggle-bg: #{$semi-gray};
  --progress-count-color: #{$semi-gray};
  --progress-count-bg: #{$dark-gray};
  --card-hint: #{lighten($semi-gray, 5%)};
  --card-header-bg: #{lighten($dark-gray, 5%)};
  --card-body-before-bg: #{lighten($dark-gray, 5%)};
  --card-body-li-color: #{lighten($semi-gray, 20%)};
  --card-body-li-stripe-shadow: #{$dark-gray};
  --card-body-li-stripe-bg: #{lighten($dark-gray, 10%)};

  .card-header h2 {
    text-shadow: none;
  }
}

body[data-theme='simple'] {
  --title-color: #{$green};
  --progress-border-color: #{lighten($green, 5%)};
  --card-hint: #{lighten($green, 5%)};
  --card-header-color: #{lighten($dark-gray, 10%)};
  --card-header-bg: #{lighten($semi-gray, 15%)};
  --card-body-before-bg: #{lighten($semi-gray, 15%)};
  --card-body-li-stripe-shadow: #{$white};
  --card-body-li-stripe-bg: #{lighten($semi-gray, 22%)};

  .card-header h2 {
    text-shadow: .1rem .1rem $white;
  }
}

body {
  color: var(--body-color, rgba($dark-gray, .84));
}

.content {
  background-color: var(--content-bg, $light-gray);

  @include mq(tablet) {
    background-color: var(--content-bg, $white);
  }
}

.show-menu nav {
  background-color: var(--mobile-nav-bg, $white);
}

nav {
  background-color: var(--nav-bg, $white);

  a {
    color: var(--nav-link-color, rgba($dark-gray, .9));

    &.active {
      color: var(--nav-link-active-color, $dark-gray);
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--nav-link-hover-color, $dark-gray);
      }
    }
  }
}

.menu-toggle {
  > span,
  > span:before,
  > span:after {
    background-color: var(--menu-toggle-bg, $dark-gray);
  }
}

// ProgressBar
.progress--wrapper {
  background-color: var(--progress-count-bg, $white);

  &::after {
    color: var(--progress-count-color, $dark-gray);
  }
}

.progress--svg .progress--bar {
  stroke: var(--progress-border-color, $mojo);
}

// CARD
.card-title {
  margin-top: 30vh;
  color: var(--title-color, $orange);
}

.card-hint {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  color: var(--card-hint, lighten($link-color, 5%));
  font-size: 1.5rem;
  animation: pulse .6s 2;

  @include mq(tablet) {
    top: 2rem;
    font-size: 2rem;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.2rem;
  margin: -2.6rem -2rem 0 -2rem;
  padding: 1rem .5rem;
  overflow: hidden;
  background-color: var(--card-header-bg, rgba($blue, .8));

  @include mq(tablet) {
    margin: 0;
    border-radius: 1rem;
  }

  h2 {
    @include text-shadow;
    width: calc(100% - 5rem);
    margin: 0;
    color: var(--card-header-color, $white);
    line-height: 1;
    text-align: left;
    letter-spacing: .1rem;

    @include mq(tablet-wide, max) {
      @include truncateMultiLine();
      height: 6.8rem;
      font-size: 2.5rem;
      line-height: normal;
    }

    &::after {
      display: none;
    }
  }
}

.card-body {
  position: relative;
  padding: 2rem 0;

  &:before {
    @include pseudo;
    top: -11.6rem;
    left: -2rem;
    right: -2rem;
    height: 2.4rem;
    background-color: var(--card-body-before-bg, rgba($blue, .8));
  }

  @include mq(tablet) {
    position: static;

    &:before {
      display: none;
    }
  }

  li {
    margin: 1.3rem -2rem;
    padding: 1.5rem 2rem;
    color: var(--card-body-li-color, $dark-gray);
    font-size: 2.4rem;
    line-height: 1.55;
    letter-spacing: .03rem;

    &::before {
      display: none;
    }

    @include mq(tablet) {
      margin: 0;
      padding: 3rem 1rem;
      font-size: 2rem;
    }

    &:nth-child(even) {
      text-shadow: .15rem .15rem var(--card-body-li-stripe-shadow, $white);
      background-color: var(--card-body-li-stripe-bg, rgba($light-blue, .3));
    }
  }
}
