$input-border-color: #bbb;
$input-placeholder-color: lighten($input-border-color, 5%);

::-webkit-input-placeholder { /* Edge */
  color: $input-placeholder-color;
  font-size: 1.7rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $input-placeholder-color;
  font-size: 1.7rem;
}

::placeholder {
  color: $input-placeholder-color;
  font-size: 1.7rem;
}

label,
.step-content-hint {
  display: block;
  margin-bottom: .8rem;
}

label {
  font-size: 1.9rem;
  line-height: 1.3158;
  font-weight: 600;
}

.step-content-hint {
  margin-top: -.5rem;
  color: #7a7a7a;
  font-size: 1.6rem;
  line-height: 1.5625;
}

input {
  width: 100%;
  max-width: 40rem;
  margin-right: 1.7rem;
  padding: .8rem;
  border: 1px solid $input-border-color;
  font-size: 1.9rem;
  text-transform: none;

  &:focus {
    outline: 3px solid #2ecc71;
  }
}

.form-group + .form-group {
  margin-top: 2.5rem;
}
