.page-header {
  position: relative;
  flex-shrink: 0;

  @include mq(tablet) {
    position: static;
  }
}

nav {
  top: -8.5rem;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 0;
  z-index: 1;
  transition: all .45s $easing-function;

  @include mq(tablet) {
    position: static;
  }

  a {
    padding: 1rem 0;
    border-bottom: .4rem solid transparent;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s $easing-function;

    @include mq(tablet) {
      padding: 1rem;
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        border-bottom-color: $orange;
        font-weight: bolder;
      }
    }

    &.active {
      border-bottom-color: $orange;
      font-weight: bolder;
    }
  }
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0.61rem;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  animation: pulse .6s 3;
  z-index: 2;
  transition: top .4s $easing-function;

  &:focus {
    outline: none;
  }

  @include mq(tablet) {
    position: static;
    display: none;
  }

  > span,
  > span:before,
  > span:after {
    position: absolute;
    display: block;
    width: 100%;
    transition: transform .3s $easing-function;
    background-color: $dark-gray;
  }

  > span {
    top: 50%;
    height: .5rem;
  }

  > span:before,
  > span:after {
    content: "";
    height: 100%;
  }

  > span:before {
    transform: translateY(-1.1rem);
  }

  > span:after {
    transform: translateY(1.1rem);
  }
}

.show-menu {
  nav {
    top: 0;
    padding-bottom: 1rem;
    background-color: $white;

    &::after {
      @include pseudo;
      top: 5.9rem;
      width: 100%;
      height: calc(100vh - .9rem);
      background-color: rgba(255, 255, 255, .15);
      backdrop-filter: blur(5px);

      @include mq(tablet) {
        display: none;
      }
    }
  }

  .menu-toggle {
    top: 8.4rem;
    transform: rotate(45deg);

    > span:before,
    > span:after {
      transform: rotate(90deg);
    }
  }
}
