nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 2.5rem;

  a {
    padding: 1rem;
    border-bottom: .4rem solid transparent;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease-in;

    &.active, &:hover {
      border-bottom-color: orangered;
      color: black;
    }
  }
}
