$default-size: 4.6rem;
$border-color: $mojo;

.progress {
  @include progress($default-size);

  position: relative;
  @include size($default-size);
  border-radius: $br;
  box-shadow: -.2rem -.2rem .5rem rgba($dark-gray, .1), .3rem .3rem .5rem rgba($dark-gray, .1);

  &__count {
    @include center-flex;
    @include size($default-size);
    border: .4rem solid rgba($semi-gray, .4);
    border-radius: $br;
    font-size: 1.4rem;
    font-family: fantasy;
  }

  &__curve {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__curve-first-half {
    @include size(100%);
    position: absolute;
    border: .4rem solid $border-color;
    border-radius: $br;
    clip: rect(0, #{$default-size/2}, $default-size, 0);
  }

  &__curve-second-half {
    @include size(100%);
    position: absolute;
    border: .4rem solid $border-color;
    border-radius: $br;
    clip: rect(0, #{$default-size/2}, $default-size, 0);
  }
}
