$default-size: 4.6rem;
$bg-color: white;
$border-color: orangered;

.radial-progress-bar {
  @include size($default-size);
  position: relative;
  margin-top: 3rem;
  border-radius: 999px;
  box-shadow: 0 .3rem 1.5rem rgba(0, 0, 0, .13);
  background-color: $bg-color;

  @include mq(tablet) {
    margin-top: 0;
  }

  &__pie {
    @include size(calc(100% + .2rem));
    @include center('both');
    clip: rect(0, $default-size + .2rem, $default-size + .2rem, ($default-size + .2rem) / 2);
  }

  &__half-circle {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    border: .2rem solid $border-color;
    border-radius: 999px;
    clip: rect(0, ($default-size + .2rem) / 2, $default-size + .2rem, 0);
  }

  &__label {
    @include size($default-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: .4rem solid rgba(179, 179, 179, 0.4);
    border-radius: 999px;
    font-size: 1.4rem;
    font-family: fantasy;
  }

  @include progress();
}
