/* cyrillic */
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
//  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//}
//
///* latin */
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100%;
  color: rgba($dark-gray, .84);
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', serif;
  line-height: 1.65;

  @include mq(tablet) {
    background-image: url('../img/grid.png'), linear-gradient(to bottom, #434343 0%, $dark-gray 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    &::before {
      @include pseudo;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .9;
      background: url($dim_bg_url) transparent 0 0 repeat;
    }
  }
}

a {
  color: $link-color;
}

main {
  position: relative;
  padding: 5rem 2rem 0 2rem;

  @include mq(tablet) {
    padding: 5rem 0 0 0;
  }
}

.content {
  width: 100%;
  max-width: 60rem;
  min-height: 100vh;
  z-index: 1;
  background-color: $white;

  @include mq(tablet) {
    min-height: calc(100vh - 4rem);
    margin: 2rem 0;
    padding: 1.5rem 2rem 6.6rem 2rem;
    border-radius: 2.5rem;
  }

  @include mq(desktop) {
    max-width: 102rem;
    min-height: 100vh;
    margin: 0;
    padding: 3rem 4rem 8rem 4rem;
    border-radius: 0;
  }
}

.step-indicator {
  color: lighten($green, 10%);
  font-size: 2rem;
  font-weight: 600;
}

.storage-item {
  position: relative;
  display: flex;
  width: 40rem;
  max-width: 100%;
  margin-bottom: 1.3rem;

  &::before {
    content: "•";
    position: absolute;
    left: -1.2rem;
    color: $dark-gray;
    font-size: 2rem;
    line-height: 2;

    @include mq(tablet) {
      left: -2rem;
    }
  }

  .btn-link {
    margin-right: .8rem;
    text-align: left;
    flex: 1;
  }

  .btn {
    flex: 0 0 4rem;
  }
}

.no-match-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 10.5rem);
  background: url('../img/not-found-bg.png') center 1rem no-repeat;

  @include mq(tablet) {
    height: calc(100vh - 20rem);
  }

  h1 {
    font-size: 10rem;
  }
}

.qr-code-figure {
  float: right;
  margin: 0 0 .5rem 1rem;
  padding: .5rem;
  border: thin $semi-gray solid;

  figcaption {
    padding: .5rem;
    color: $white;
    font: italic 1.5rem sans-serif;
    text-align: center;
    background-color: $dark-gray;
  }
}

.footer {
  @include text-shadow;
  width: 100%;
  max-width: 60rem;
  margin-top: 3rem;
  padding: 2rem;
  color: $white;
  font-size: 1.5rem;
  background: linear-gradient(to bottom, rgba($blue, .65) 0%, rgba($blue, .35) 100%);

  @include mq(tablet) {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-top: 0;
    transform: translateX(-50%);
  }

  @include mq(desktop) {
    bottom: 0;
    max-width: 102rem;
  }
}
